allure-behave==2.8.6
allure-pytest==2.8.6
allure-python-commons==2.8.6
aniso8601==7.0.0
Appium-Python-Client==0.47
astroid==2.2.5
atomicwrites==1.2.1
attrs==18.2.0
behave==1.2.6
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.0
configparser==3.7.4
crayons==0.4.0
decorator==4.4.0
et-xmlfile==1.0.1
idna==2.8
importlib-metadata==0.18
isort==4.3.20
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
jsonpath==0.81
jsonschema==3.0.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==4.3.0
MouseInfo==0.0.4
objectpath==0.6.1
openpyxl==3.0.3
packaging==19.0
parse==1.12.0
parse-type==0.4.2
Pillow==6.2.1
pluggy==0.13.0
public==2019.4.13
py==1.7.0
PyAutoGUI==0.9.47
PyGetWindow==0.0.7
pylint==2.3.1
PyMsgBox==1.0.7
pyodbc==4.0.26
pyparsing==2.4.0
pyperclip==1.7.0
PyRect==0.1.4
pyrsistent==0.15.2
PyScreeze==0.1.22
pytest==5.2.2
PyTweening==1.0.3
pytz==2019.1
requests==2.22.0
selenium==3.141.0
self==2019.4.13
six==1.11.0
typed-ast==1.4.0
urllib3==1.25.6
wcwidth==0.1.7
webdriver-manager==3.3.0
Werkzeug==0.15.4
wrapt==1.11.1
zipp==0.5.1
